@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

.NavAll {
  display: flex;
  margin-left: 3.5rem;
  margin-bottom: 0.11rem;
  padding: 0.5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.NavAll img {
  position: relative;
  bottom: 0.4rem;
  width: 5rem;
  height: 3.5rem;
}
.logoLink {
  text-decoration: none;
}

.name {
  color: #655ad8;
  font-weight: bolder;
  font-size: xx-large;
  font-weight: bold;
}

.NavButtons {
  margin-left: 58rem;
  display: flex;
  gap: 1rem;
}

.NavAll button {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.navLogin {
  background-color: #fbfbfe;
  border: none;
}

.navLogin:hover {
  background-color: #dddddd;
}

.navSignup {
  background-color: #7164f0;
  border: none;
  color: #fff;
}

.navSignup:hover {
  background-color: #6454f1;
}
